button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 10px;
}

#increment-bttn {
  background-color: darkgreen;
}

#save-bttn {
  background-color: darkblue;
}

#reset-bttn {
  background-color: rgb(178, 178, 38);
}